*.csv
*.pdf
*.pyc

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.vite/
frontend/coverage/
frontend/*.local
frontend/.DS_Store
frontend/.idea/
frontend/.vscode/*
frontend/.vscode/extensions.json
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

backend/.venv/
